body{
  margin: 0;
  padding: 0;
}
header{
  background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10% 0 10%;
}
header h1{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}
header p{
  font-size: 1.2rem;
}
button{
  margin-top: 10px;
  padding: 20px 30px;
  color: white;
  background-color: rgb(51, 51, 51);
  border: solid 1px white;
  font-size: 1rem;
}
a{
  text-decoration: none;
  color: white;
}
button:hover{
  background-color: rgb(235, 230, 221);
  color: rgb(51, 51, 51);
}
.description{
  text-align: center;
  background-color: rgb(235, 230, 221);
  margin: 0;
  padding: 20px;
}
.description h3{
  margin: 0;
  font-size: 2rem;
}
.description p{
  
  columns: 2;
  column-gap: 1%;
  font-size: 1.2rem;
}
#feature-block{
  background-color:rgb(51, 51, 51) ;
  padding: 20px;
}
.container{
  max-width: 800px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin: auto;
}
.block{
  flex: 1;
  background-color: white;
  
  
}
img{
  width: 100%;
}
.content{
  padding: 30px;
  text-align: center;
  font-size: 1.2rem;
}
.content p{
  margin-top: 10px;
}
.description-2 {
text-align: center;
padding: 60px;
font-size: 20px;
}
.description-2 p{
  width: 60%;
  margin-left: 20%;
  color: grey;

}
.bottom-block{
  display: flex;
  
}
.left-block{
  border: solid 1px rgb(86, 86, 255);
  background-color: rgb(86, 86, 255);
  color: white;
  text-align: center;
  padding: 80px;
  font-size: 20px;
}
.right-block{
  border: solid 1px grey;
  background-color: grey;
  color: white;
  text-align: center;
  padding: 80px;
  font-size: 20px;

}
footer{
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 30px;
  background-color: black;
  color: white;
  font-size: 25px;
  padding-left: 15%;
  padding-right: 15%;

}
footer div a{
  color:rgb(86, 86, 255);
}
